.backgroundImg{
    display: inline-block;
    /* width: 55%; */
    background-repeat:no-repeat;
    /* background-position:center; */
    background-size:cover;
}

.keys{
    display: flex;
    margin-top: 35%;
    align-items: center;
    justify-content: center;
}


.key{
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    font-family: fantasy;
    padding: 1px .5px;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
}

.playing{
    transform: scale(1.1);
    border-color: blue;
    box-shadow: 0 0 10px greenyellow;
}

kbd{
    display: block;
    font-size: 40px;
    font-family: sans-serif;
}
.sounds{
    font-size: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: red;
}